<launch>
  <!-- Map Server  -->
  <arg name="map_file" default="$(find Frankie_Bot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <!-- AMCL used for localization -->
  <include file="$(find Frankie_Bot)/launch/include/amcl.launch" />

  <!-- activate navigation stack -->
	<include file="$(find Frankie_Bot)/launch/include/move_base.launch" />
</launch>
